body{
    font-family: Arial, sans-serif;
    background-color: #4ce2cc;
    margin: 15px;
    padding: 20px;
    height: 50%;
}
h2{
    color: #f80a0a;
    text-align: center;
    margin-bottom: 20px; 
}
h3{
    color: #0a52f8;
    text-align: center;
    margin-bottom: 20px;

}
form{
    max-width: 450px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 10px 20px 10px rgba(0, 0, 0, 0.055);
    min-height: 50%;
}
input[type="text"]
{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 0.5px solid #534949;
    border-radius: 6px;
    box-sizing: border-box;
   
} 
input[type="number"]
{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #534949;
    border-radius: 6px;
    box-sizing: border-box;
    
}
input[type="submit"]{
    width: 100%;
    background-color: #4CAF50;
    color: rgb(98, 56, 223);
    padding: 10px;
    border: 50px;
    border-radius: 6px;
    cursor:pointer;
    font-size: large;
    font-weight: bold;
    
}